**/target/

## System files
.DS_Store

### IntelliJ IDEA ###
**/.idea
**/*.iws
**/*.iml
**/*.ipr

## VS Code and other configurations
.vscode/
.project
.classpath
.factorypath
.settings/

# other
dev/mysql/data/*
dev/redis/data/*
auth-service/src/main/resources/application-secret.yml